<h1>Bright Bridge Django Code Assessment</h1>


<div>
	<h3>PART 1</h3>
	<ol>
		<li>Create a model in the home app called "Client_Info" to store information for fields in the form below. Also include a datetimefield for when that will save when the info was added.</li>
		<li>Using the form below, save information to the model you created  **you can change the form however you'd like as long as you keep the fields</li>
		<li>Make sure that the datetime field is also included</li>
		<li>Finally, add a function that will check for duplicate names, and company names. If there are duplicates have it delete the oldest one, and replace it with the new one.</li>
	</ol>
	<form action="" method="POST">
	  <label for="fname">First name:</label><br>
	  <input type="text" id="fname" name="fname"><br>
	  <label for="lname">Last name:</label><br>
	  <input type="text" id="lname" name="lname"><br><br>
	  <label for="lname">Company name:</label><br>
	  <input type="text" id="lname" name="cname"><br><br>
	  <input type="submit" value="Submit">
	</form> 
</div>
	<hr>
	<br>
	<br>

<div>
	<h3>PART 2</h3>
	<ol>
		<li>With the data that you have saved to a model, display the information ordered by first name</li>
		<li>With the data that you have saved to a model, display the information ordered by last name</li>
		<li>With the data that you have saved to a model, display the information ordered by company name</li>
		<li>With the data that you have saved to a model, display the information ordered by the datetime field</li>
	</ol>
	<div>
		<h4>Ordered by first name:</h4>
	</div>
	<div>
		<h4>Ordered by last name:</h4>
	</div>
	<div>
		<h4>Ordered by company name:</h4>
	</div>
	<div>
		<h4>Ordered by datetime field:</h4>
	</div>
</div>